<!DOCTYPE html>
<html>
<head>
	<title>add</title>
	<meta charset = "UTF-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/portfoliocss.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    
    <script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
</head>
<body style="background-color: white;">

<div id="section5" data-aos="zoom-in-up">
	<center><h1 style="color: black;"> sign up</h1></center>
<form role="form" action="/signup" method="POST">
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" name="Name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="Email" placeholder="Enter email" > 
  </div>
  <div class="form-group">
        <label for="message">Message</label>
        <textarea class= "form-control" rows= "3" name="message" placeholder="Enter message"></textarea>
  </div>
  <center><button type="submit" class="btn btn-primary">submit</button></center>
</form><br>
  </div>
   <script>
    AOS.init();
  </script>
</body>
</html>
