<!DOCTYPE html>
<html>
<head>
	<title>king of kings</title>
	<meta charset = "UTF-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/portfoliocss.css">
	<link rel="stylesheet" type="text/css" href="./css/portfolio1.css">
	<link rel="stylesheet" type="text/css" href="./css/dp.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css" />
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	  <style>
      @import url('https://fonts.googleapis.com/css?family=Poiret+One');
      </style>
      <style>
       @import url('https://fonts.googleapis.com/css?family=Rancho');
      </style>
      <style>
       @import url('https://fonts.googleapis.com/css?family=Bungee|Lateef|Rancho'); 
      </style>
      <style> 
      @import url('https://fonts.googleapis.com/css?family=Lateef|Rancho');
     </style>
     <style>
     @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Berkshire+Swash|Boogaloo');
      </style>
      <style>
      @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Poiret+One');
      </style>
       
</head>
<body>

<%include portfolioheader%>
<script>
	$("#academics").click(function(){
		$("#computing").addClass('active');
	});

</script>

<div class="container">
 <!--  <div class="container"> -->
  	<div class="section2" >
  			<div class="row">
  			<div class="col-md-4">
  				<div class="home4">
  					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	                <div class="flipper">
		                 <div class="front">
			                <img src="images/robin1.jpg" class="img-responsive" style="margin-top: 18px;width:200px;height: 250px; padding-top: 40px">
		                 </div>
		                 <div class="back">
			                <img src="images/cool2.gif" style="width:100px;height: 100px;margin-top: 60px;">
            
			                <h2 style="color:white;">web developer</h2>
			                <!-- <h3 style="color: blue">full stack engnier</h3> -->
		                 </div>
	                </div>
                 </div>
  				</div>
                 <div id="home1" data-aos="fade-up">
  					<h1><strong>ROBIN JAIN</strong></h1>
                </div>
  		    </div>

  		    <div class="col-md-8">
  		    	<div id="home2">
  		    		<h3>JAYPEE INSTITUTE OF INFORMATION TECNOLOGY,NOIDA<a href="http://www.jiit.ac.in/">[JIIT-62]</a>	</h3>
  		    	</div>
  		    	<div id="home3">
  			        <h2>My name is <strong>robin jain</strong>.I got 89.67% in 10th RBSE board in 2014 and 90.20% in 12th RBSE board in 2016 and I secured 36966 rank in <a href="https://jeemain.nic.in/webinfo/Public/Home.aspx">JEE-mains</a> in 2016.</h2>
  		    	</div>
  		    </div>
        </div>
  	</div>
<!-- 
  </div>  --> 


<!-- 2nd part -->

<div class="section" id="section1">
	<div id = "computing">
	<center>
		<div class="row">
			<div class="col-sm-6">
				<h1>Programming Languages</h1>
				<ul class="list-group" id="programming" style="width: 60%;"  data-aos="fade-right">
  					<li class="list-group-item list-group-item-success" data-aos="fade-right" data-aos-duration="500">C</li>
  					<li  class="list-group-item list-group-item-info" data-aos="fade-right" data-aos-duration="800">C++</li>
  				</ul>
			</div>
			<div class="col-sm-6" id="webdiv">
				<h1>Web Areas</h1>
					<ul class="list-group" id="web" data-aos="fade-left">
  						<li class="list-group-item list-group-item-success" data-aos="fade-left" data-aos-duration="500">HTML</li>
  						<li class="list-group-item list-group-item-info" data-aos="fade-left" data-aos-duration="800">CSS</li>
  						<li class="list-group-item list-group-item-warning" data-aos="fade-left" data-aos-duration="1100">JAVASCRIPT</li>
  						<li class="list-group-item list-group-item-danger" data-aos="fade-left" data-aos-duration="1400">jQuery</li>
  						<li class="list-group-item list-group-item-success" data-aos="fade-left" data-aos-duration="1700">BOOTSTRAP</li>
  						<li class="list-group-item list-group-item-info" data-aos="fade-left" data-aos-duration="2000">PHP
  						</li>
  						<li class="list-group-item list-group-item-warning" data-aos="fade-left" data-aos-duration="2300">NODE.JS</li>
  					<!-- 	<li class="list-group-item list-group-item-success">HandleBars</li> -->
					</ul>
			</div>
		</div>
	</center>
</div>
</div>
<br><br><br><br>

<!-- part2 -->

 <div id="section3">

       <div class="container" id="colour">

         <div class="row">
			<div class="col-lg-12 col-sm-6 col-xs-3 col-md-12">
				 <div id="matter" data-aos="fade-right">
	     	 <h1>contact me</h1>
	     	 <h3>contact me using facebook,instagram,github...</h3>
	             </div>
			</div>
		</div>

<div id="wrapper1" >

	<div class="row">
			<div class="col-md-1">
				
			</div>
    </div>

	<div class="row">
			<div class="col-md-2">
				  <div class="box" id="pic1">
            <a href="https://www.facebook.com/robin.jain.904108">
            <img id="icn" src="images/fb.png" height="80px" width="80px" >
            <div class="text"> Facebook </div></a>
                  </div> 
			</div>
    </div>

    <div class="row">
			<div class="col-md-2">
				  <div class="box" id="pic2">
          <a href="https://twitter.com/reb1212">
          <img id="icn" src="images/twitter.png" height="80px" width="80px" >
          <div class="text"> Twitter   </div></a>
                  </div>
			</div>
    </div>


     <div class="row">
			<div class="col-md-2">
				   <div class="box ">
           <a href="https://www.instagram.com/robinjain12101999/">
           <img id="icn" src="images/inst.png" height="80px" width="80px">
           <div class="text"> Instagram </div></a>
                   </div>
			</div>
    </div>


     <div class="row">
			<div class="col-md-2">
				   <div class="box ">
            <a href="https://www.linkedin.com/in/robin-jain-895176162/">
            <img id="icn" src="images/lin.png" height="80px" width="80px">
            <div class="text"> Linkedin </div></a>
                  </div>
			</div>
    </div>


     <div class="row">
			<div class="col-md-2">
				   <div class="box ">
            <a href="https://github.com/12141999">
            <img id="icn" src="images/githuv.png" height="80px" width="80px" >
            <div class="text"> Youtube</div></a>
                  </div>
			</div>
    </div>


    <div class="row">
			<div class="col-md-1">
				
			</div>
    </div>

   </div>       

 </div>

</div>
<br><br><br>

           <div id="line">
  		      <hr>
  		      <form action="/gmail">
  		      	 <center><button type="submit" class="btn btn-primary" style="width : 20%;"><i class="fas fa-envelope-open"></i> mail</button></center>
  		      </form>
  		    </div>

  <br><br><br><br>
 </div>
<!-- 
<script type="text/javascript" src="smooth.js"></script>
 -->
 <div id="clg">
 	 <h5 data-aos="fade-up-right">jaypee institute of information technology</h5>
 </div>

<div id="gmap">
<div id="map" ></div>
<script>

function myMap() {
  
  var myCenter = new google.maps.LatLng(<%=data.lat%>,<%=data.lng%>);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 18};
  var map = new google.maps.Map(mapCanvas,mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
  marker.setMap(map);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfeJEhYBehzdv61AfFCdcqwZ_J2DcrzWM&callback=myMap"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfeJEhYBehzdv61AfFCdcqwZ_J2DcrzWM&callback=myMap"></script>
</div> -->



<script>
    AOS.init();
  </script>
  

 <%include portfoliofooter%>