<!DOCTYPE html>
<html>
<head>

  <title>navvar</title>

<style type="text/css">
 .navbar navbar-expand-lg navbar-light bg-light navbar-inverse{
  background-color: transparent;
  background: transparent;
  color: white;
  width: 100%;
  font-weight: bold;
}


</style>
</head>
<body>
   
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse" id ="qwerty" style=" background-color:transparent;">
  <a class="navbar-brand" href="#">portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#section2" >Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#section1" id="academics">cs-acadmics</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#section3">contact</a>
      </li>
    </ul>
  </div>
</nav>

